<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:8080/homePage">Login Demo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div sec:authorize="hasRole('ROLE_Admin')" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:8080/userList">User List</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<form>
    <fieldset>

        <h1>User List</h1>

        <table class="table">
            <thead  class="thead-dark">
            <tr>
                <th> Id </th>
                <th> Username </th>
                <th> First Name </th>
                <th> Last Name </th>
                <!--<th> Password </th>-->
                <th> User Status </th>
                <th> Enabled </th>
                <th> Locked </th>
                <th> Expired </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="User : ${userList}">
                <td><label th:text="${User.userId}" /></td>
                <td><Label th:text="${User.email}" /></td>
                <td><Label th:text="${User.name}" /></td>
                <td><Label th:text="${User.surname}" /></td>
              <!--  <td><Label type="password" th:text="${User.password}" /></td>-->
                <td><Label th:text="${User.status}" /></td>
                <td><input type= "radio" th:value="${User.enabled}" th:checked="${User.enabled == true}"  disabled/></td>
                <td><input type= "radio" th:value="${User.expired}" th:checked="${User.expired == true}" disabled/></td>
                <td><input type= "radio" th:value="${User.locked}"  th:checked="${User.locked == true}" disabled/></td>
            </tr>
            </tbody>
        </table>
    </fieldset>

</form>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>